{
  "extends": [
    "twilio-ts",
    "twilio-react",
    "prettier"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "prettier/prettier": [
      "warn",
      {},
      {
        "usePrettierrc": true
      }
    ],
    "complexity": "off",
    "react/display-name" : "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react/no-multi-comp": "off",
    "sonarjs/cognitive-complexity": "off",
    "sonarjs/no-small-switch": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-require-imports": "off",
    "@typescript-eslint/no-var-requires": "off",
    "no-console": "warn",
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-duplicate-imports": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-unused-vars": "warn",
    "import/order": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "max-classes-per-file": "off",
    "array-callback-return": "off",
    "import/no-unused-modules": [1, {"unusedExports": true}],
    "import/no-duplicates": ["error"],
    "spaced-comment": "warn",
    "no-unused-expressions": "warn",
    "@typescript-eslint/member-ordering": "warn",
    "lines-between-class-members": "warn",
    "sonarjs/prefer-immediate-return": "off",
    "prefer-named-capture-group": "off"
  }
}
